* {
    margin: 0px;
    padding: 0px;
}

body {

    background-color: skyblue;
    font-size: 100%;
    font-family: sans-serif;
}

nav {
    
    float: right;
    display: flex;
    
}

.nav {
    
    background-color: rosybrown;
    color: black;
    border-right: 2px black;
    text-align: center;
    padding: 8px;
    cursor: pointer;
    text-decoration: none;
    
}

.activebutton {
    
    background-color: burlywood;
}

.nav:hover {
    
    background-color: aliceblue;
}

#banner {
    
    width: 100%;
}

#header {
    
    position: relative;
}

h1 {
    
    position: absolute;
    bottom: 35px;
    left: 20px;
    font-family: "Times";
    font-size: 55px;
    color: white;
    text-shadow: 10px black;
    
}

h2 {
    
    position: absolute;
    bottom: 10px;
    left: 20px;
    font-family: "Times";
    font-size: 25px;
    color: white
}

.forsidegrid {
    
    float: left;
    width: 20%;
    text-align: center;
    margin: 10px;
    display: grid;
}

.forsidebillede {
    
    width: 100%;
}

.footer {
    
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    
}