* {
    margin: 0px;
    padding: 0px;
}

body {

    background-color: skyblue;
    font-size: 100%;
    font-family: sans-serif;
}

nav {
    
    float: right;
    display: flex;
    
}

.nav {
    
    background-color: rosybrown;
    color: black;
    border-right: 2px black;
    text-align: center;
    padding: 8px;
    cursor: pointer;
    text-decoration: none;
    
}

.activebutton {
    
    
}

.nav:hover {
    
    background-color: aliceblue;
}

#banner {
    
    width: 100%;
}

#information {
    
    float: left;
    width: 100%;
    text-align: center;
    margin: 10px;
}

#footer {
    
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    
}